<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="
            http://maven.apache.org/SETTINGS/1.0.0
            https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>talend.oss.snapshots</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend.oss.releases</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend.snapshots</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend.releases</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>libraries</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>thirdparty-releases</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend_nexus_deployment</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>registry.datapwn.com</id>
      <username>${env.DOCKER_LOGIN}</username>
      <password>${env.DOCKER_PASSWORD}</password>
    </server>
    <server>
      <id>artifactory.datapwn.com</id>
      <username>${env.ARTIFACTORY_LOGIN}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
  </servers>
          
  <mirrors>
    <mirror>
      <id>maven_central_proxy</id>
      <name>Maven Central Proxy</name>
      <mirrorOf>central</mirrorOf>
      <url>https://talend-update.talend.com/nexus/content/groups/studio-libraries/</url>
    </mirror>
  </mirrors>
</settings>